[Unit]
Description=Kanata keyboard remapper (%i)

[Service]
ExecStart=/usr/bin/kanata -c %h/.config/kanata/%i.kbd
Restart=always

[Install]
WantedBy=default.target
